# dependencies
node_modules/
package-lock.json

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.development
.env.test
.env.production
.env.staging

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata

# Android
android/app/build/
android/build/
android/local.properties
android/.gradle/
android/.idea/
android/*.iml
android/.settings/
android/.project
android/app/release/

# Temporary files
*.log
*.tmp
*.temp
